<%- include('partials/head') %>

<main>
    <h1>WebSurv</h1>
    <p>Welcome to the interactive web-development survey, WebSurv!</p>
    <p>You may click on the button below to start the survey, the survey can be saved at any time to be continued at some other point.</p>
    <a href="/survey">Start</a>
</main>

<%- include('partials/footer') %>