<%- include('partials/head') %>
<main>
    <h1>Saved!</h1>
    <div id="withoutSupport">
        <p>Your progress has been saved. Use the following url to able to continue <strong><%= url %></strong></p>
    </div>
    <div id="withSupport">
        <p>Your progress has been saved. Click the button below to copy your URL.</p>
        <input id="input" type="text" value="<%= url %>"/>
        <button id="copy">Copy to clipboard</button>
    </div>
</main>
<script src="/js/copy.js"></script>
<%- include('partials/footer') %>