* {
    box-sizing: border-box;
}

html {
    background: #e8eaf6;
}

body {
    background-color: #ffffff;
    margin: 0;
    max-width: 40em;
    margin: 10em auto;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Cutive Mono', monospace;
}

h1 {
    color: #5200ee;
}

#regForm {
    margin: auto;
    padding: 1em;
}

input, select, label {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    margin-bottom: 1em;
    border-radius: 5px;
    font-family: inherit;
}

input:focus, select:focus {
    border: 2px solid #5200ee;
}

label {
    display: block;
}

label:hover {
    background: rgba(82, 0, 238, .1);
    cursor: pointer;
}

#html:checked + label,
#css:checked + label,
#js:checked + label,
#php:checked + label {
    background: #5200ee;
    color: #ffffff;
}

input[type="checkbox"] {
    display: none;
}

fieldset {
    display: none;
    border: 0;
    padding: 0;
}

button {
    background-color: #5200ee;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1em;
    font-family: inherit;
}

button:hover, a:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

form section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form section section:nth-of-type(1) span {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5200ee;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
}

form section section:nth-of-type(1) span.active {
    opacity: 1;
}

button[formaction="/finish"] {
    background-color: #f44336;
    display: none;
}

main {
    padding: 1em;
}

a {
    background-color: #5200ee;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
}

#copy {
    margin: 0;
}

#withSupport {
    display: none;
}