@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    font-family: monospace, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #e0e0e0;
}

body {
    background: #fff;
    max-width: 40em;
    margin: auto;
    max-height: 100vh;
    min-height: 100vh;
}

header {
    overflow: auto;
    background-color: #333;
    color: #eee;
    padding: 1em;
}
header h1 {
    text-transform: uppercase;
    border-bottom: 3px solid #eee;
    display: inline;
}

main, footer {
    padding: 1em;
}

input[type='text'], [type='email'], input[type="number"], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="submit"] {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
}

input[type="submit"]:hover {
    background: #474544;
    color: #F2F3EB;
}

/* SLIDER START */

.buttons {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    font-weight: bold;
    margin-top: auto;
}
a {
    text-decoration: none;
    color: black;
}
 a:hover {
    color: #4d4d4d;
}
.photos {
    position: relative;
}
.block {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.block.active {
    opacity: 1;
}
/* SLIDER END */